*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
}
section{
    width: 70%;
}
section div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 100px;  /* change la taille de la police d'écriture*/
    font-family: 'Special Elite', cursive;  /* change la police d'écriture et met en italique */
}
p{
    font-family: 'Special Elite', cursive;
}a
aside{
    width: 30%;
}
aside img{
    width: 100%;
    height: 100%;
}

.thankYou{ 
    width: 100vw; /* redimensionne à la largeur à la taille de la page d'écran */
    height: 100vh; /* pareil mais pour la hauteur */
}