*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content:center;
    align-items: center;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    width: 50%;
    padding: 1em;
    border: 1px solid lightblue;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form div + div {
    margin-top: 1em;
}
label {
    display: inline-block;
    width: 90px;
    text-align: left;
}
input {
    font: 1em sans-serif;
    width: 300px;
    border: 1px solid #999;
}
#question{
    height: 100px; /* redimensionne la text area de questions*/
}